:root{
    --border: #E6E6E6;

    --free: #32B436;
    --freeBorder: #309B33;
    --freeHover: #3cac3f;

    --busy: #FFAF77;
    --busyBorder: #ffa15e;
    --busyHover: #fd9f5c;

    --btn: #EDEFEE;
    --btnBorder: #DCE0E3;
    --btnHover: #e5e8eb;;

    --selected: #1969FF;
    --selectedDis: #347AFD;
}

/* DATESTABLE ========================================== */

.datestable {
    width: 100%;
}

/* .datestable-inline {
    max-width: 800px;
} */

.datestable * {
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

/* NAVIGATION ========================================== */

.datestable--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid var(--border);
    border-width: 1px 1px 0 1px;
}

.datestable--nav-range {
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;
    min-height: 42px;
}

.datestable--nav-title {
    font-size: 1.2em;
}

.datestable--nav-current {
    background: var(--selected);
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #fff;
}

.datestable--nav .datestable--btn {
    font-size: 0.9em;    
    text-transform: uppercase;
    padding: 0;
    display: flex;
    align-items: center;
    user-select: none;
}

.datestable--nav .datestable--btn[data-action="prev"] {
    padding-right: 10px;
}

.datestable--nav .datestable--btn[data-action="next"] {
    padding-left: 10px;
    flex-direction: row-reverse;
}

.datestable--nav .datestable--btn svg {
    width: 32px;
    height: 32px;
}

.datestable--nav .datestable--btn path {
    fill: none;
    stroke: #000000;
    stroke-width: 2px;
}

@media (max-width: 630px) {
    .datestable--nav .datestable--btn span {
        display: none;        
    }

    .datestable--nav .datestable--btn[data-action="prev"],
    .datestable--nav .datestable--btn[data-action="next"] {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .datestable--nav-title {
        font-size: 1em;
    }
}

/* CONTENT ============================================= */

.datestable--content {
    display: flex;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

/* DAY ================================================== */

.datestable--day {
    width: 14.28571%;
}

@media (max-width: 450px){
    .datestable--day .datestable--btn{
        padding: 0;
    }
}

/* DAY NAME ============================================= */

.datestable--day-name {
    text-align: center;
    white-space: nowrap;
    padding: 7px 3px;
    border-right: 1px solid var(--border);
    border-bottom: 2px solid var(--border);
}

@media (max-width: 430px){
    .datestable--day-name {
        font-size: 0.9em;
    }
}

/* DAY NAME ============================================= */

.datestable--day-time {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

/* BUTTON =============================================== */

.datestable--btn {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 5px;
    text-align: center;
    background: var(--btn);
    border-color: var(--btnBorder);
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    font-weight: bold;
    transition: all 0.3s ease;
}

.datestable--btn:hover:not(.-disabled-) {
    background: var(--btnHover);
}

.datestable--btn.-large- {
    width: 199%;
}

.datestable--btn.-disabled- {
    opacity: 0.8;
    cursor:not-allowed;
}

/* BUTTON FREE */

.datestable--btn.-free- {
    background: var(--free);
    border-color: var(--freeBorder);
    color: #fff;
}

.datestable--btn.-free-:hover:not(.-disabled-) {
    background: var(--freeHover);
}

/* BUTTON BUSY */

.datestable--btn.-busy- {
    background: var(--busy);
    border-color: var(--busyBorder);
    color: #000;
}

.datestable--btn.-busy-:hover:not(.-disabled-) {
    background: var(--busyHover);
}

/* BUTTON SELECT */

.datestable--btn.-select- {
    background: var(--selected);
    border-color: var(--selected);
    color: #fff;
}

.datestable--btn.-select-:hover:not(.-disabled-) {
    background: var(--selectedDis);
}

/* BUTTON MEDIA */
@media (max-width: 600px) {
    .datestable--btn {
        font-size: 0.9em;
    }
}

/* POINTERS ============================================= */

.datestable .pointers {
    border: solid var(--border);
    border-width: 0 1px 1px 1px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
}

.datestable .ptr {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.datestable .ptr-clr {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background: var(--btn);
    border: 1px solid var(--border);
}

.datestable .ptr-text {
    font-size: 0.9em;
}

.datestable .ptr-clr.free{
    background: var(--free);
}

.datestable .ptr-clr.selected{
    background: var(--selected);
}

.datestable .ptr-clr.busy{
    background: var(--busy);
    opacity: 0.8;
}
