[if step = "1"]
<div class="container-fill container-recdoc">
    <div class="container-header">Запись к врачу</div>
    <div class="instruction-recdoc">Выберите нужного Вам врача, для записи на приём.</div>
    <div class="doctors-recdoc">
        [for doctor in doctors]
        <div class="doctor-recdoc__item">      
            <img src="{filter doctor.foto | noavatar}" alt="" class="doctor-recdoc__item__img">
            <div class="doctor-recdoc__item__content">
                <div class="doctor-recdoc__item__title">{doctor.name}</div>
                <div class="doctor-recdoc__item__text">
                    <div><b>Специальность: </b>{doctor.specialty}</div>
                    <div><b>Кабинет: </b>{doctor.kabinet}</div>
                </div>
                [if !USER]<div class="btn btn-recording login-link">Записаться на приём</div>[/if]
                [if USER]<a href='{filter doctor.id | linkget "doctor"}' class="btn btn-recording">Записаться на приём</a>[/if]
            </div>
        </div>
        [/for]
    </div>   
</div>
[/if]
[if step = "2"]
<div class="container-fill container-recording">
    <div class="container-header">Запись к врачу</div>
    <div class="doctor-recdoc">      
        <img src="{filter doctor.foto | noavatar}" alt="" class="doctor-recdoc__img">
        <div class="doctor-recdoc__content">
            <div class="doctor-recdoc__title">{doctor.name}</div>
            <div class="doctor-recdoc__text">
                <div><b>Специальность: </b>{doctor.specialty}</div>
                <div><b>Кабинет: </b>{doctor.kabinet}</div>
            </div>
        </div>            
    </div>        
    <div class="instruction-recdoc center">Выберите дату и время приёма для записи к врачу.</div>
    <form action="" class="form-recording" method="post">
        <div class="form-picker">
            <input type="hidden" name="date" class="daterec"/>
            <input type="hidden" name="time" class="timerec"/>
        </div>
        <input class="btn btn-large" name="rec" type="submit" value="Записаться">     
    </form>    
    {script} 
</div>      
[/if]
[if step = "3"]
<div class="container-fill container-recording appointment">
    <div class="good"></div>
    <div class="appointment-description">
        <div class="appointment__title">Вы успешно записаны на приём!</div>
        <div class="appointment__text">Ждём Вас в назначенное время с документом, удостоверяющим личность.</div>
    </div>
</div>
<div class="container-fill container-recording">    
    <div class="doctor-recdoc">      
        <img src="{filter doctor.foto | noavatar}" alt="" class="doctor-recdoc__img">
        <div class="doctor-recdoc__content">
            <div class="doctor-recdoc__title">{doctor.name}</div>
            <div class="doctor-recdoc__text">
                <div><b>Специальность: </b>{doctor.specialty}</div>
                <div><b>Кабинет: </b>{doctor.kabinet}</div>
                <div><b>Дата приёма: </b>{recdoc-data}</div>
                <div><b>Время приёма: </b>{recdoc-time}</div>
                <div><b>Номер талона: </b>{number}</div>
            </div>
        </div>            
    </div>      
</div>
[/if]
