<div class="container-lostpassword">
    <div class="container-fill">
        <div class="container-header">Восстановление пароля</div>
        <div class="container-body">
            [step=1]
            <form action="" method="POST">
                <div class="lostpassword-text">Введите ваш логин или e-mail.</div>
                <div class="form-group form-group-large">
                    <input class="form-control" type="text" name="lostpassword" id="lostpassword" required>                        
                    <label for="lostpassword">Логин или E-mail</label>                                       
                </div>
                <div class="lostpassword-text">После заполнения формы на вашу почту будет отправлено письмо с инструкцией по восстановлению пароля.</div>
                <input type="submit" name="reset" value="Сбросить пароль" class="btn btn-large">
            </form>
            [/step=1]
            [step=2]
            <form action="" method="POST">
                <div class="lostpassword-text">Придумайте новый пароль для своей учётной записи</div>
                <div class="form-group form-group-password form-group-large">
                    <input class="form-control" type="password" name="password" id="password" required>                        
                    <label for="password">Новый пароль</label>         
                    <div class="password-show"></div>                                   
                </div>
                <div class="form-group form-group-password form-group-large">
                    <input class="form-control" type="password" name="repassword" id="repassword" required>                        
                    <label for="repassword">Подтверждение пароля</label>     
                    <div class="password-show"></div>                                       
                </div>
                <input type="submit" name="change" style="margin-top: 7px;" value="Сменить пароль" class="btn btn-large">  
            </form>
            [/step=2]
            [step=3]
            <div class="lostpassword-text">Ваш пароль от учётной записи был успешно изменён, теперь вы можете войти на сайт, используя новый пароль.</div>
            <a href="/" class="btn">Вернуться на главную страницу</a>
            [/step=3]
        </div>
    </div>
</div>