<div class="container-fill container-main">
    <div class="slider">  
        <script src="{TEMPLATE}/js/slider.js"></script>              
        <div class="slides">
            <div class="slide">
                <img src="{TEMPLATE}/slides/1.jpg" alt="">
                <div class="slide-panel">За здоровьем — это к нам!</div>
            </div>
            <div class="slide">
                <img src="{TEMPLATE}/slides/2.jpg" alt="">
                <div class="slide-panel">Доктора, которым вы доверяете</div>
            </div>
            <div class="slide">
                <img src="{TEMPLATE}/slides/3.jpg" alt="">
                <div class="slide-panel">Находим причины, а не просто лечим симптомы</div>
            </div>
            <div class="slide">
                <img src="{TEMPLATE}/slides/4.jpg" alt="">
                <div class="slide-panel">Здоровье должно быть доступным</div>
            </div>
        </div>                             
    </div>
</div>

<div class="container-fill container-main">    
    <div class="container-header">Записаться к врачу</div>               
    <div class="instruction-recdoc">Для записи к врачу нужно выбрать специальность врача, к которому Вы бы хотели записаться.</div>
    <div class="specialties-recdoc">
        [for specialty in specialties]
        <a href='/appointments/?specialty={specialty.id}' class="specialty-recdoc__item">                        
            <img src="{filter specialty.image | noimage}" alt="" class="specialty-recdoc__item__img">
            <div class="specialty-recdoc__item__content">
                <div class="specialty-recdoc__item__title">{specialty.title}</div>
                <div class="specialty-recdoc__item__text">{specialty.description}</div>
            </div>
        </a>  
        [/for]
    </div>
</div>            

<div class="container-fill container-main">
    <div class="container-header more">
        <span>Новости</span>
        <a href="/news/" class="link">Показать ещё +</a>
    </div>
    <div class="main-news">
        [for story in news]
        <div class="main-story">
            <div class="main-story__title">{ story.title }</div>
            <div class="main-story__text">{ story.body}</div>
            <div class="main-story__info">
                <div class="date-news">{filter story.date | date "d.m.Y"}</div>
                <a href="/news/{story.id}" class="btn">Подробнее</a>
            </div>
        </div>
        [/for]
    </div>
</div>

<div class="container-fill container-main"> 
    <div class="container-header">Информация</div>
    <div class="menu-site">        
        <a href="/static/price/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/price.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Прайс-лист</div>
                <div class="menu-site__item__text">Цены на приём врачей. Другая медицинская помощь оказывается за дополнительные услуги</div>
            </div>
        </a>  
        <a href="/static/insurance/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/strahovka.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Страхование</div>
                <div class="menu-site__item__text">Узнать статус страхования и дополнительную информацию</div>
            </div>
        </a>                    
        <a href="/static/donorstvo/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/donor.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Донорство</div>
                <div class="menu-site__item__text">Вся информация о донорах и возможность стать донором</div>
            </div>
        </a>
        <a href="/static/about/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/hospital.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">О поликлинике</div>
                <div class="menu-site__item__text">Раздел, где вы можете узнать о нашей поликлинике подробнее.</div>
            </div>
        </a>
    </div>
</div>
