<div class="container-fill container-main">
    <div class="slider">  
        <script src="{TEMPLATE}/js/slider.js"></script>              
        <div class="slides">
            <img src="{TEMPLATE}/slides/1.jpg" alt="" class="slide">
            <img src="{TEMPLATE}/slides/2.jpg" alt="" class="slide">
            <img src="{TEMPLATE}/slides/3.jpg" alt="" class="slide">
            <img src="{TEMPLATE}/slides/4.jpg" alt="" class="slide">
        </div>                             
    </div>
</div>

<div class="container-fill container-main">    
    <div class="container-header">Основное</div>               
    <div class="menu-site">
        <a href="/appointments/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/regdoc.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Записаться к врачу</div>
                <div class="menu-site__item__text">Запись к врачу на приём.</div>
            </div>
        </a>
        <a href="/static/prace/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/price.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Прайс-лист</div>
                <div class="menu-site__item__text">Цены на приём врачей. Другая медицинская помощь оказывается за дополнительные услуги</div>
            </div>
        </a>  
        <a href="/static/insurance/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/strahovka.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Страхование</div>
                <div class="menu-site__item__text">Узнать статус страхования и дополнительную информацию</div>
            </div>
        </a>                    
        <a href="/static/donorstvo/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/donor.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Донорство</div>
                <div class="menu-site__item__text">Вся информация о донорах и возможность стать донором</div>
            </div>
        </a>
        <a href="/static/information/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/hospital.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Информация о больнице</div>
                <div class="menu-site__item__text">Узнать о нашей больнице подробнее. План здания.</div>
            </div>
        </a>
    </div>
</div>

<div class="container-fill">
    <div class="container-header more">
        <span>Новости</span>
        <a href="/news/" class="link">Показать ещё +</a>
    </div>
    <div class="main-news">
        [for story in news]
        <div class="main-story">
            <div class="main-story__title">{ story.title }</div>
            <div class="main-story__text">{ story.body}</div>
            <div class="main-story__info">
                <div class="date-news">{filter story.date | date "d.m.Y"}</div>
                <div class="btn">Подробнее</div>
            </div>
        </div>
        [/for]
    </div>
</div>
            