<div class="container-fill">
    <div class="slider">  
        <script src="{TEMPLATE}/js/slider.js"></script>              
        <div class="slides">
            <img src="{TEMPLATE}/slides/1.jpg" alt="" class="slide">
            <img src="{TEMPLATE}/slides/2.jpg" alt="" class="slide">
            <img src="{TEMPLATE}/slides/3.jpg" alt="" class="slide">
            <img src="{TEMPLATE}/slides/4.jpg" alt="" class="slide">
        </div>                             
    </div>
    <div class="title-page">Главная</div>               
    <div class="menu-site">
        <a href="/static/insurance/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/strahovka.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Страхование</div>
                <div class="menu-site__item__text">Узнать статус страхования и дополнительную информацию</div>
            </div>
        </a>                    
        <a href="/static/donorstvo/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/donor.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Донорство</div>
                <div class="menu-site__item__text">Вся информация о донорах и возможность стать донором</div>
            </div>
        </a>
        <a href="/static/prace/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/price.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Прайс-лист</div>
                <div class="menu-site__item__text">Цены на приём врачей. Другая медицинская помощь оказывается за дополнительные услуги</div>
            </div>
        </a>
        <a href="/static/rating/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/ratedoc.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Рейтинг врачей</div>
                <div class="menu-site__item__text">Рейтинг врачей нашей больницы.</div>
            </div>
        </a>
        <a href="/static/information/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/hospital.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Информация о больнице</div>
                <div class="menu-site__item__text">Узнать о нашей больнице подробнее. План здания.</div>
            </div>
        </a>
        <a href="/recdoc/" class="menu-site__item">                        
            <img src="{TEMPLATE}/img/regdoc.png" alt="" class="menu-site__item__img">
            <div class="menu-site__item__content">
                <div class="menu-site__item__title">Записаться к врачу</div>
                <div class="menu-site__item__text">Запись к врачу на приём.</div>
            </div>
        </a>
    </div>
</div>
            