<div class="container-profile">
    <div class="container-fill">
        <div class="container-header">Профиль</div>
        <div class="container-body">
            <div class="plofile-info">
                <img src="{filter user.foto | noavatar}" alt="" srcset="" class="profile-foto">
                <div class="profile-data">
                    <div class="profile-name">{user.surname} {user.name} {user.patronymic}</div>  
                    <div class="profile-fields">
                        <div class="profile-field"><span>Логин:</span>{user.login}</div>
                        <div class="profile-field"><span>E-mail:</span>{user.email}</div>
                    </div>
                    <div class="profile-fields">
                        <div class="profile-field"><span>Группа:</span>{user.group_name}</div>
                    </div>
                    <div class="profile-fields">
                        <div class="profile-field"><span>Дата регистрации:</span>{filter user.date_reg | date "d.m.Y"}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    [if USER.id = user.id]
    <div class="container-fill">
        <div class="container-header">Редактировать профиль</div>
        <div class="container-body">
            <form method="post" class="profile-edit" enctype="multipart/form-data">
                <div class="title-section">Информация</div>
                <div class="form-groups-inline">
                    <div class="form-group form-group-large">
                        <input class="form-control" type="text" name="login" id="pf-login" required value="{user.login}">                        
                        <label for="pf-login">Логин</label>                                            
                    </div>
                    <div class="form-group form-group-large">
                        <input class="form-control" type="email" name="email" id="pf-email" required value="{user.email}">                        
                        <label for="pf-email">E-mail</label>                                            
                    </div>
                </div>
                <div class="form-groups-inline">
                    <div class="form-group form-group-large">
                        <input class="form-control" type="text" name="surname" id="pf-surname" value="{user.surname}" required>                        
                        <label for="pf-surname">Фамилия</label>                                            
                    </div>        
                    <div class="form-group form-group-large">
                        <input class="form-control" type="text" name="name" id="pf-name" value="{user.name}" required>                        
                        <label for="pf-name">Имя</label>                                            
                    </div>
                </div>
                <div class="form-groups-inline">
                    <div class="form-group form-group-large">
                        <input class="form-control" type="text" name="patronymic" id="patronymic" value="{user.patronymic}" required>                        
                        <label for="patronymic">Отчество</label>                                            
                    </div>
                    <div class="form-group form-group-large form-group-active">
                        <select name="gender" id="gender" class="form-control">
                            <option value="none">Не выбрано</option>
                            [for gender of genders]<option value="{key}" [if key = user.gender] selected [/if]>{gender}</option>[/for]                    
                        </select>                   
                        <label for="gender">Пол</label>                                            
                    </div>
                </div> 
                <div class="form-groups-inline">
                    <div class="form-group form-group-large">
                        <input class="form-control phone" type="tel" name="phone" id="phone" value="{user.phone}" required>                        
                        <label for="phone">Телефон</label>                                            
                    </div>
                    <div class="form-group form-group-large">
                        <input class="form-control date" type="text" name="birthday" id="birthday" value='{filter user.birthday | date "d.m.Y"}' required>                        
                        <label for="birthday">Дата рождения</label>                                            
                    </div>
                </div> 
                <div class="form-group form-group-large">
                    <input class="form-control" type="text" name="adress" id="adress" value="{user.adress}" >                        
                    <label for="adress">Адрес</label>                                            
                </div>
                <div class="title-section">Фото</div>
                <div class="form-group-file form-group-large">
                    <input class="form-control" type="file" class="" name="foto" accept="image/*">
                </div>
                <label class="checkbox delete-foto">
                    <input type="checkbox" class="check-input" name="delete_foto">
                    <span class="check"></span>
                    <span class="label-check">Удалить фото</span>
                </label>
                <div class="title-section">Смена пароля</div>
                <div class="form-group form-group-password form-group-large">
                    <input class="form-control" type="password" name="lastpassword" id="lastpassword">                        
                    <label for="lastpassword">Старый пароль</label>         
                    <div class="password-show"></div>                                   
                </div>
                <div class="form-groups-inline">
                    <div class="form-group form-group-password form-group-large">
                        <input class="form-control" type="password" name="password" id="password">                        
                        <label for="password">Новый пароль</label>         
                        <div class="password-show"></div>                                   
                    </div>
                    <div class="form-group form-group-password form-group-large">
                        <input class="form-control" type="password" name="repassword" id="repassword">                        
                        <label for="repassword">Подтверждение пароля</label>     
                        <div class="password-show"></div>                                       
                    </div>
                </div>
                <input type="submit" name="do_save_profile" value="Сохранить изменения" class="btn btn-large btn-green">  
            </form>
        </div>
    </div>

    <div class="container-fill">
        <div class="container-header">Безопасность</div>
        <div class="container-body">
            <div class="profile-security">
                <div class="title-section">Управление сеансами</div>
                <span>Завершить все сеансы, кроме текущего.</span>
                <a href="{logout_all}" class="btn btn-red btn-large">Завершить все сеансы</a>
            </div>
        </div>
    </div>
    [/if]
</div>
