<div class="container-fill container-reg">
    <div class="title-page">Регистрация</div>               
    <form action="" class="reg-form" method="POST">
        <div class="form-group form-group-large">
            <input class="form-control" type="text" name="login" id="login" required>                        
            <label for="login">Логин</label>                                            
        </div>
        <div class="form-group form-group-large">
            <input class="form-control" type="email" name="email" id="email" required>                        
            <label for="email">E-mail</label>                                            
        </div>
        <div class="form-groups-inline">
            <div class="form-group form-group-large">
                <input class="form-control" type="text" name="surname" id="surname" required>                        
                <label for="surname">Фамилия</label>                                            
            </div>
            <div class="form-group form-group-large">
                <input class="form-control" type="text" name="name" id="name" required>                        
                <label for="name">Имя</label>                                            
            </div>
        </div> 
        <div class="form-groups-inline">
            <div class="form-group form-group-large">
                <input class="form-control" type="text" name="patronymic" id="patronymic" required>                        
                <label for="patronymic">Отчество</label>                                            
            </div>
            <div class="form-group form-group-large">
                <select name="gender" id="gender" class="form-control">
                    <option value="none">Не выбрано</option>
                    [for gender of genders]<option value="{key}">{gender}</option>[/for]                    
                </select>                   
                <label for="gender">Пол</label>                                            
            </div>
        </div> 
        <div class="form-groups-inline">
            <div class="form-group form-group-large">
                <input class="form-control phone" type="tel" name="phone" id="phone" required>                        
                <label for="phone">Телефон</label>                                            
            </div>
            <div class="form-group form-group-large">
                <input class="form-control date" type="text" name="birthday" id="birthday" required>                        
                <label for="birthday">Дата рождения</label>                                            
            </div>
        </div> 
        <div class="form-group form-group-large">
            <input class="form-control" type="text" name="adress" id="adress" >                        
            <label for="adress">Адрес</label>                                            
        </div>
        <div class="form-group form-group-password form-group-large">
            <input class="form-control" type="password" name="password" id="password" required>                        
            <label for="password">Пароль</label>         
            <div class="password-show"></div>                                   
        </div>
        <div class="form-group form-group-password form-group-large">
            <input class="form-control" type="password" name="repassword" id="repassword" required>                        
            <label for="repassword">Подтверждение пароля</label>     
            <div class="password-show"></div>                                       
        </div>
        <input type="submit" name="do_reg" value="Зарегистрироваться" class="btn">
    </form>
</div>
            