.slider{
    overflow: hidden;
    /* border-bottom: 2px solid #ddd;     */
}

.slides{
    display: flex;
    transition:transform 1s ease;
}

.slide {
    display: block;
    width: 100%;
}

.slider .slide img{
    display: block;
    width: 100%;
}
