/* FONTS ============================================ */

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto;
    font-weight: bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face{
    font-family: Roboto;
    font-style: italic;    
    src: url(../fonts/Roboto-Italic.ttf);
}

/* GLOBAL =========================================== */

* {   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background: #efefef;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin:0 auto;
}

.container-header{    
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;    
    color: #777;    
}

.container-header.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header.more .link{
    font-size: 1rem;    
}

.container-body{
    padding: 10px;
    padding-top: 0;
}

.link{
    text-decoration: none;    
    background: none;
    border: 0;    
    color: #347AFD;    
}

.link:hover {
    text-decoration: underline;
    color: #0057fa;  
}

.center{
    text-align: center;
    margin: 0 auto;
}

table{
    font-size:12px;
    color:#333333;
    width:100%;    
    border-radius: 5px;
}
table th {
    font-size:17px;
    background:#1969ff;    
    color:#fff;
    padding: 8px;    
}
table tr {
    background:rgb(210, 222, 239);
}
table tr:nth-child(2n+1){
    background: #f3f8f8;
}
table tr:hover {
    background:rgb(199, 206, 216);
}
table td {
    font-size:15px;    
    padding: 15px 8px;    
}
table th,table td{
    text-align:left;
    border:none;
}

.red{
    color:#f00 !important;
}

.yellow{
    color: #ffc400 !important;
}

.green{
    color:#14A76C !important;
}

.black{
    color: #000 !important;
}

/* HEADER =========================================== */

header{    
    background: #1969ff;
    box-shadow: 1px 1px 4px 1px #9da0ac; 
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.topmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topmenu__link{
    display: inline-block;
    font-weight: bold;
    color:#ffF;
    white-space: nowrap;
    /* text-transform: uppercase; */
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    user-select: none;
    transition: background .3s ease;
    border-radius: 5px;
}

.topmenu__link:hover{
    background: #eeeeee27;
}

.topmenu__center{
    flex-grow:1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 60px;    
    margin: 0 auto;
    display: block;
}

/* MEDIA HEADER ******************************* */
@media (max-width: 720px) {
    header{
        position: fixed;
        width: 100%;
        z-index: 10;
    }
}

/* HAMBURGER MENU ++++++++++++++++++++++++++++++++++++*/

.menu-button{
    display: none;
    padding:0 10px;
}

.menu-icon-wrapper {    
    /*   background: red; */
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-wrapper:focus { 
    outline:none;
}

.menu-icon {
    position: relative;
    width: 24px;
    height: 3px;
    background-color: #fff;    
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: "";
    width: 24px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
    width: 24px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.opener.open .menu-icon {
    background-color: transparent;
}

.opener.open .menu-icon::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.opener.open .menu-icon::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.links{
    position: relative;
}

/* MEDIA HAMBURGER MENU ***************************** */
@media (max-width: 720px) {
    .menu-button{
        display: block;        
    }

    .links-left{
        transform-origin: left center;
        left:0;
    }

    .links-right{
        transform-origin: right center;
        right: 0;
    }    

    .links{
        display: block;        
        position: absolute;
        display: flex;
        flex-direction: column;
        top:100%;
        bottom:0;
        z-index: 1;
        height: calc(100vh - 100%);
        min-width: 200px;
        background-color: #1969ff;
        transform: scaleX(0);
        transition: transform .5s ease;        
    }

    .opener.open> .links{
        transform: scaleX(1);
    }   
}

/* LOGIN PANEL ++++++++++++++++++++++++++++++++++++++ */

.bg-login-panel,.login-panel{
    position: fixed;
    display: none; 
    width: 100%;
    z-index: 15;   
}

.bg-login-panel{
    left: 0;
    top:0;    
    height: 100%;
    background: #00000050;      
}

.login-panel{    
    overflow: hidden;
    top:50%;
    left: 50%;
    max-width: 400px;    
    border-radius: 10px;
    background: #eee;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 4px 1px #777;    
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/close.png) no-repeat;   
    background-size: contain;
    width: 40px;
    height: 40px;
    transition: opacity .4s ease;
}

.close:hover{
    opacity: 0.8;
}

.login-title{
    padding: 25px;    
    font-size: 2rem;
}

.login-block, .singin-form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;     
}

.login-block{
    padding: 15px;
}

.singin-form{     
    padding: 15px 0;
    border: solid #bbbbbb;    
    border-width: 1px 0 1px 0;
}

.singin-form .btn{
    margin-top: 7px;
}     

.lostpassword{
    width: 100%;
    font-size: 0.9rem;     
}

.have-account{
    font-size: 0.9rem;
    padding: 20px 0 5px 0;    
}

/* USER PANEL ======================================= */

#user-panel{
    display: flex;
    align-items: center;
    text-transform: none;
}

#user-panel img{
    border-radius: 50%;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    border:1px solid #eee;
    background: #fff;
}

#user-panel:focus{
    outline: none;
    background: #eeeeee27;
}

.user-options{    
    display: flex;
    flex-direction: column;
    background: #1969ff;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px #9da0ac; 
    z-index: 2;
    transition: transform .4s ease;
    transform-origin: center top;
    transform: scaleY(0);
}

.opener.open> .user-options{
    transform: scaleY(1);
}

.user-option{
    margin: 0;
}

/* MEDIA USER PANEL ********************************** */
@media (max-width: 720px) {
    #user-panel{
        background: #eeeeee27;;
        border-radius: none;
        margin: 0;
    }

    .user-options{
        position: static;
        margin: 5px;
        box-shadow: none;
        border-radius: none;
        transform: scaleY(1);
    }

    .user-option{
        border-radius: 5px;
    }
}

/* MAIN ============================================= */

main{    
    padding: 25px 0;    
}

.container-fill{    
    background: #fff;   
    box-shadow: 1px 1px 3px 1px #9da0ac; 
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.title-page{
    font-size: 2rem;
    font-weight: bold;
    color:#777;
    padding: 15px 40px;
}

/* MEDIA MAIN ************************************ */
@media (max-width: 720px) {
    main{
        padding-top: 85px;
    }

    .title-page{
        font-size: 1.7rem;
        padding: 10px 20px;
    }
}


/* ALERTS +++++++++++++++++++++++++++++++++++++++++++ */

/* ALERTS +++++++++++++++++++++++++++++++++++++++++++ */

.alert{
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    color:#fff;
    box-shadow: 1px 1px 4px 1px #9da0ac; 
    transition: opacity .3s ease;
    border:1px solid #00000030;
    position: relative;
    padding-left: 50px;
}

.alert::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    background-size: contain;
    position: absolute;
}
.alert:hover{
    opacity: 0.95;
}

.alert b{
    display: block;
    margin-bottom: 5px;
}


.alert[data-alert-type="success"]{
    background: #2fa828;
}
.alert[data-alert-type="success"]::before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3e%3c/svg%3e");
}

.alert[data-alert-type="error"]{
    background: #DC3545;
}
.alert[data-alert-type="error"]::before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/%3e%3c/svg%3e");
}

/* MAIN PAGE ++++++++++++++++++++++++++++++++++++++++ */

.container-main {
    margin-bottom: 15px;
}

.main-news {
    display: flex;
    padding: 10px;
    padding-top: 0;
    gap: 15px 20px;
}

.main-story {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.main-story__title {
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    text-overflow: ellipsis;
    padding-bottom: 7px;
}

.main-story__text {
    border-top: 1px solid #eee;;
}

.main-story__info {
    padding-top: 7px;
    border-top: 1px solid #eee;;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 720px) {
    .main-news {
        flex-direction: column;
    }
}


/* MENU-SITE +++++++++++++++++++++++++++++++++++++++++*/

.menu-site{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}

.menu-site__item{
    width: 50%;
    color: #000;
    text-decoration: none;
    padding: 7px;
    display: flex;    
    border-bottom: 1px solid #eee;
    transition: background .3s ease;
}

.menu-site__item:hover{
    background: #77777715;
}

.menu-site__item__title{    
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.menu-site__item__img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    border:3px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
}

/* MEDIA MENU-SITE ********************************** */
@media (max-width: 720px) {
    .menu-site__item{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .menu-site__item__img{
        width: 60px;
        height: 60px;
    }

    .menu-site__item__title{ 
        margin-bottom: 5px;
    }   
}

/* REGISTRATION +++++++++++++++++++++++++++++++++++++ */

.container-reg{
    max-width: 600px;   
}

.container-reg .form-group{
    margin: 5px 0;
}

.container-reg .title-page{
    text-align: center;
}

.reg-form{
    display: flex;    
    flex-direction: column;
    padding: 15px 10px;
}

.reg-form .btn{
    margin-top: 5px;
}

/* LOSTPASSWORD ++++++++++++++++++++++++++++++++ */

.container-lostpassword{
    max-width: 600px;  
    margin: 0 auto;
}

.lostpassword-text{
    margin: 15px 0;
}

.lostpassword-text:first-child{
    margin-top: 0;
}

/* PROFILE +++++++++++++++++++++++++++++++++++++ */

.container-profile{
    max-width: 750px;
    margin: 0 auto;
}

.container-profile .form-group{
    margin: 5px 0;
}

.container-profile .container-fill{
    margin-bottom: 15px;
}

.plofile-info{
    display: flex;
    align-items: center;
    padding: 10px 0 25px 0;
}

.profile-foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:5px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
}

.profile-data{
    padding-left: 15px;
}

.profile-name{
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 15px;
}

.profile-field {
    display: inline;
    font-size: 1.3rem;
    color:#5a5a5a;
}

.profile-field span{
    white-space: nowrap;
    font-weight: bold;
    margin-right: 5px;
}

.profile-field:nth-child(2n){
    margin-left: 25px;
}

.profile-edit .btn, .profile-security .btn{
    margin-top: 7px;
}

.title-section{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #709bec;
    margin-bottom: 5px;
    color:#709bec;
    font-size: 1em;
    padding: 10px 10px 5px 10px;
}

.delete-foto{
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

/* MEDIA PROFILE **************************************** */
@media (max-width: 720px) {
    .profile-field{
        display: block;
    }

    .profile-field:nth-child(2n){
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .profile-foto {
        width: 100px;
        height: 100px;
    }

    .profile-name{
        font-size: 1.4rem;
    }

    .profile-field {
        font-size: 1rem;
    }
}

/* RECDOC +++++++++++++++++++++++++++++++++++++++++++ */

.instruction-recdoc{
    padding:3px  22px;
}

/* MEDIA RECDOC **************************************** */
@media (max-width: 500px) {
    .doctor-recdoc__img {
        width: 100px;
        height: 100px;
    }
}

/* SPECIALTIES ************************************* */

.specialties-recdoc{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}

.specialty-recdoc__item{
    width: 50%;
    color: #000;
    text-decoration: none;
    padding: 7px;
    display: flex;    
    border-bottom: 1px solid #eee;
    transition: background .3s ease;
}

.specialty-recdoc__item:hover{
    background: #77777715;
}

.specialty-recdoc__item__title{    
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.specialty-recdoc__item__text p{
    margin-top: 0;
}

.specialty-recdoc__item__img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    border:3px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
}

/* MEDIA SPECIALTIES-RECDOC ******************* */
@media (max-width: 720px) {
    .specialty-recdoc__item{
        width: 100%;
    }
}

@media (max-width: 500px){
    .specialty-recdoc__item__img{
        width: 60px;
        height: 60px;
    }

    .specialty-recdoc__item__title{
        margin-bottom: 5px;
    }
}

/* DOCTORS ************************************* */

.doctors-recdoc{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}

.doctor-recdoc__item{
    width: 50%;
    color: #000;   
    padding: 7px;
    display: flex;    
    border-bottom: 1px solid #eee;
    transition: background .3s ease;
    position: relative;
}

.doctor-recdoc__item:hover{
    background: #77777715;
}

.doctor-recdoc__item__title{    
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.doctor-recdoc__item__img{
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 50%;
    border:5px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
}

.doctor-recdoc__item__content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-recording{
    margin-left: auto;
    margin-top: auto;
    display: inline-block !important;
}

/* MEDIA DOCTORS-RECDOC ******************************* */
@media (max-width: 720px) {
    .doctor-recdoc__item{
        width: 100%;
    }
}

@media (max-width: 500px){
    .doctor-recdoc__item__img{
        width: 100px;
        height: 100px;
    }
}

/* RECORDING **************************************** */

.container-recording{
    max-width: 650px;
}

.doctor-recdoc{
    display: flex;   
    padding: 15px; 
}

.doctor-recdoc__title{    
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 35px;
}

.doctor-recdoc__img{
    width: 180px;
    height: 180px;
    margin-right: 10px;
    border-radius: 50%;
    border:5px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
}

.doctor-recdoc__text{
    line-height: 1.5rem;
}

.form-picker{    
    display: flex;
    height: 272px;
    justify-content: center;
    margin: 5px 0;
}

.form-picker .datepicker{
    height: 100%;
}  

.good{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3e%3cpath d='M0 0h24v24H0V0z' fill='none'/%3e%3cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3e%3c/svg%3e");
    background-color: #2fa828;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0 auto;
    box-shadow: 1px 1px 3px 1px #c8d0e7;    
    border-radius: 50%;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
}

.appointment{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.appointment-description{
    width: 100%;
    margin-left: 15px;
    font-size: 0.9rem;
}

.appointment__title{
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: bold;    
    color: #777;   
}

/* MEDIA RECORDING  ********************************* */
@media (max-width: 500px){
    .doctor-recdoc__img{
        width: 100px;
        height: 100px;
    }

    .doctor-recdoc__title{
        margin-bottom: 10px;
        font-size: 1.4rem;
    }
}

/* NEWS +++++++++++++++++++++++++++++++++++++++++++++ */

.container-news{
    max-width: 750px;
    margin: 0 auto;
}

.container-news .container-fill{
    margin-bottom: 15px;
}

.date-news, .comments-news, .autor-news{
    background-size: 1em;
    padding-left: 1.3em;
}

.date-news{
    background: url(../img/alarm.svg) no-repeat left center;
}

.comments-news{
    background: url(../img/chat-dots.svg) no-repeat left center;
}

.autor-news{
    background: url(../img/person.svg) no-repeat left center;
}

/* SHORT NEWS *************************************** */

.short-news{
    padding: 15px 20px;
}

.title-short-news{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.body-short-news{
    border-top: 1px solid #00000030;
    padding: 7px 0;
}

.body-short-news img{
    max-width: 100%;
}

.info-short-news{
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    border-top: 1px solid #00000030;
    border-bottom: 1px solid #00000030;
    padding: 7px 0;
}

.info-short-news .btn{
    margin-top: 0;
}

/* FULL NEWS *************************************** */

.full-news{
    padding: 15px 20px;
}

.title-full-news{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.body-full-news{
    border-top: 1px solid #00000030;
    padding: 7px 0;
}

.body-full-news img{
    max-width: 100%;
}

.info-full-news{
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    border-top: 1px solid #00000030;
    border-bottom: 1px solid #00000030;
    padding: 7px 0;
}

/* COMMENTS +++++++++++++++++++++++++++++++++++++++++++ */

.container-comments{
    padding: 15px 20px;
}

.title-comments{    
    font-size: 1.3rem;
    font-weight: bold;    
    color: #777;   
    margin-bottom: 15px;
}

.comment{
    display: flex;    
    background: #00000010;
    border-radius: 7px;
    padding: 7px;
    box-shadow: 1px 1px 4px 1px #aaa; 
    margin-bottom: 15px;
}

.content-commnent{
    width: 100%;
}

.foto-comment{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    border:5px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
}

.autor-commnent{
    font-size: 1.2rem;
    font-weight: bold;
}

.info-commnent{
    padding-top: 4px;
    border-top: 1px solid #00000030;    
}

.text-comment{
    padding: 4px 0;
}

.text-comment p{
    margin: 5px 0;
}

.text-comment img{
    max-width: 100%;
}

.date-comment{
    background: url(../img/alarm.svg) no-repeat left center;
    background-size: 1em;
    padding-left: 1.3em;
}

.form-addcomment .btn{
    margin-top:5px
}

/* STATIC +++++++++++++++++++++++++++++++++++++++++++ */

.container-static{
    max-width: 750px;
    margin: 0 auto;
}

.static-body{
    padding: 7px 10px;
}

.static-body p{
    margin-top: 0;
}

.static-body img{
    max-width: 100%;
}

/* FOOTER =========================================== */

footer{
    margin-top: auto;
    padding: 15px;
    background: #000;
    color:#fff;    
}

/* OTHER ============================================= */

.dettach-transition{
    transition:none;
}

/* NAVIGATION +++++++++++++++++++++++++++++++++++++++++++++ */
.navigation-block{
    display: flex;
    justify-content: center;
}

.navigation{
    display: flex;
    align-items: center;
    padding: 7px;
}

.prev-link, .next-link{
    display: flex;
}

.control-navigation, .pages-navigation a ,.pages-navigation span{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%; 
    transition: background .3s ease, color .3s ease;
    user-select: none;
    box-shadow: 1px 1px 3px 1px #aaa; 
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 5px;
}

.control-navigation{
    background: #1969ff;
    color: #fff;    
}

.control-navigation:hover, .pages-navigation a:hover{
    background: #4383fb;
    color:#fff;
}

.pages-navigation span{
    background: #4383fb;
    color:#fff;
}

.pages-navigation a{
    background: #ffff;
}

.pages-navigation{
    display: flex;
    margin: 0 5px;
}

/* INPUTS +++++++++++++++++++++++++++++++++++++++++++++ */
.form-group{
    position: relative;    
    margin-bottom: 5px;
}

.form-group label{
    position: absolute;
    user-select: none;
    font-size: 1rem;
    font-weight: bold;
    color: #8e8e8e;    
    height: 36px;
    left: 8px;
    top:8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;    
    right: 5px;
    text-overflow: ellipsis;    
    transform-origin: left;    
    white-space: nowrap;  
    transition:transform .3s ease;  
}

.form-control{    
    background: #fafafa;    
    border: 2px solid #e6e6e6; 
    font-size: 1rem;   
    margin: 0;
    outline: 0;
    /* overflow: hidden; */
    padding: 14px 0 12px 8px;
    text-overflow: ellipsis;    
    border-radius: 7px;
    transition: border-color .3s ease;
    /* box-shadow: 1px 1px 3px 1px #c8d0e7; */
}

.form-control:hover{    
    border: 2px solid #347AFD; 
}

.form-control:focus{
    outline: 0;
    border: 2px solid #0057fa; 
}

.form-group-active .form-control{    
    padding: 22px 0 4px 8px!important;
}

.form-group-active label{  
    transform: scale(.83333) translateY(-11px) !important;
}

.form-group-large, .form-group-large .form-control{
    width: 100%;
}

.form-group-icon .form-control, .form-group-icon label{
    padding-left: 34px !important;
}

.form-group-icon .form-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    top:50%;
    left: 8px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group-icon .form-icon svg{
    width: 100%;
    height: 100%;
}

.form-group-password .form-control{
    padding-right: 37px !important;
}

.password-show{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z'/%3e%3c/svg%3e");
    width: 25px;
    height: 25px;
    top:50%;
    right: 8px;
    opacity: .5;
    transform: translateY(-50%);
    transition: opacity .4s ease, background .3s ease;
}

.password-show:hover{
    opacity: 1;
}

.password-show-hidden{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3e%3cpath d='M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z' fill='none'/%3e%3cpath d='M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z'/%3e%3c/svg%3e") !important;
}

.form-groups-inline{
    display: flex;
    gap: 10px;
}

.form-control[type=file], .form-group-active .form-control[type=file]{
    padding: 0 !important;
}

.form-control::file-selector-button {
    padding: 14px 8px 12px 8px;    
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #00000010;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.form-control:hover::file-selector-button {
    background-color: #00000015;
}

/* MEDIA INPUTS ************************************* */    

@media (max-width: 720px) {
    .form-groups-inline{
        flex-direction: column;
        gap: 0;
    }
}

/* BUTTONS +++++++++++++++++++++++++++++++++++++++++ */
.btn{
    background-color: #1969FF;
    display: flex;
    font-size: 1rem;
    color: #fff;    
    border: 0;
    padding: 12px;
    /* margin-top: 7px; */
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background .3s ease;
    user-select: none;
    box-shadow: 1px 1px 3px 1px #c8d0e7;    
    line-height: 1rem;
    outline: none;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.btn-large{
    width: 100%;
}

.btn-inline{
    display: inline-block;    
}

.btn-noradius{
    border-radius: 0;
}

.btn:hover:not(:disabled){
    background: #347AFD;
}

.btn:focus , .btn:active{
    background: #0057fa;
}

.btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-green{
    background-color: #14A76C !important;
}

.btn-green:hover:not(:disabled){
    background-color: #1bbd7c !important;
}

.btn-red{
    background-color: #DC3545 !important;
}

.btn-red:hover:not(:disabled){
    background-color: #ff5264 !important;
}

/* CHECKBOX +++++++++++++++++++++++++++++++++++++++ */

.checkbox {
    position: relative;
    font-size: 1rem;
    display: block;
    padding:0 1.2rem;
}

.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.label-check{
    padding-left: .3rem;
}

.check {
    transition: box-shadow 0.5s ease , background 0.5s ease;   
    position: absolute;
    margin-left: -1.2rem;
    width: 1.1rem;
    height: 1.1rem;
    background: #77777725;   
    border:0.1rem solid #1969ff;
    box-sizing: border-box;     
}

.check-input:checked + .check {
    border:0.2rem solid #1969ff;
    background: #1969ff url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpolygon class='st0' fill='%23FFF' points='434.8,49 174.2,309.7 76.8,212.3 0,289.2 174.1,463.3 196.6,440.9 196.6,440.9 511.7,125.8 434.8,49 '/%3e%3c/g%3e%3c/svg%3e");       
}

.check-input:focus + .check {    
    box-shadow: 0 0 0 0.05rem #B2DFFC;
} 

.check-input:disabled + .check {
    opacity: 0.7;
} 

/* USER ICON ++++++++++++++++++++++++++++++++++++++ */

.user-icon {    
    background-color:transparent;
}

.user-icon::before {    
    left: 6px;    
    width: 12px;
    height: 12px;
    border-radius: 50%;    
    top:-9px;
}

.user-icon::after {    
    left: 3px;
    top: 3px;    
    width: 18px;
    height: 8px;
    border-radius: 50% 50% 0 0;
}

.opener.open .user-icon::before,.opener.open .user-icon::after {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 24px;
    height: 3px;
    transition: all 0.1s linear, transform 0.2s ease-in 0.2s;
}

.opener.open .user-icon::before{
    transform: rotate(45deg);
}

.opener.open .user-icon::after {
    transform: rotate(-45deg);    
}
